button {
    margin:auto;
    background-color:#c19376;
    color:bisque;
    border-radius: 25px;
    border:none;
    width:100px;
    padding:10px; 
    box-shadow: 0 5px #999;
}
button:active {
    box-shadow:
       0 2px #666;
            transform: translateY(2px);
}
h1 {
    background-color:#c19376;
    color:bisque;
    text-align: center;
    width:400px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 25px;
    padding: 17px;
    font-family:"Comfortaa", sans-serif;
}
h2 {
    background-color:bisque;
    color:#c19376;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 25px;
    padding: 12px;
    font-family:"Comfortaa", sans-serif;
}
p{
    background-color:#fff9f2ff;
    color:#c19376;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 25px;
    padding: 12px;
    font-family:"Comfortaa", sans-serif;
}
input{
    background-color:#fff9f2ff;
    color:#c19376;
    text-align: center;
    margin:auto;
    font-size: 15px;
    border-radius: 25px;
    padding: 12px;
    width:200px;
    font-family:"Comfortaa", sans-serif;
    border:none;

}
.center{
    text-align: center;
}




html{
    scrollbar-width: thin;
}
html::-webkit-scrollbar{
    width: 4vw;
}
html::webkit-scrollbar-thumb
{
    background-color: #7775;
}
html::webkit-scrollbar-thumb:hover{
    background-color: #777;
}
html::-webkit-scrollbar-track
{
    background-color: #5555;
}
html::-webkit-scrollbar-track:hover
{
    background-color: #555;
}
.hide
{
    display: none;
}
.hide2
{
    display: none;
}
.hide3
{
    display:none;
}
.shadowHide
{
    display:none;
}